<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit Algorithms</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="units.css">
</head>
<body>
    <div class="unit-container">
        <h1>Unit 5</h1>
        <!-- Direct links for each algorithm -->
        <a href="HeapSort.html">
            <button>
                <i class="fas fa-sort"></i> Heap Sort
            </button>
        </a>
        <a href="TSP.html">
            <button>
                <i class="fas fa-network-wired"></i> Travelling Salesman Problem
            </button>
        </a>
        <a href="NQueens.html">
            <button>
                <i class="fas fa-network-wired"></i> N Queens Game
            </button>
        </a>
        
    </div>
</body>
</html>
